
 /*CONTENTS
 1. Elements
 2. Classes
 3. Typography
 */
 * {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
    background-color: white;
    color:  rgb(38, 38, 38);
}
.wrapper {
	width: 100%;
	margin: 0 auto;
}
header {
	min-height: 100px;
	background: rgb(38, 38, 38);
	width: 100%;
	z-index: 10;
	position: fixed;
}



h1 {
	width: 30%;
	float: left;
	line-height: 100px;
    text-decoration: none;
	font-size: 30px;
	font-family: poppins;
    font-weight: bold;
	color: #fff;
	letter-spacing: 5px;

	
}

.normal-btn{
    padding: 18px 40px;
    background:  rgb(38, 38, 38);
    color: white;
    border: none;
}

.normal-btn:hover{
    background:  rgb(77, 76, 76);;
    
    color:  white;
}
#section01 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }

/*--nav--*/

/* [ON BIG SCREEN] */
/* Wrapper */
#hamnav {
width: 100%;
/* Optional */
position: sticky;
top: 0;
}
/* Hide Hamburger */
#hamnav label, #hamburger { display: none; }

/* Horizontal Menu Items */
#hamitems { display: flex; }
#hamitems a {
    width: 20%; /* 100% / 5 tabs = 20% */
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover {
    background: rgb(180, 80, 180);
  }


  /* Break down menu items into vertical */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background:  rgb(38, 38, 38) ;
    
    
  }

  /* Toggle Show/Hide Menu */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}


.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a{
    display: block;
    
}
nav {
    height: 100%;
}
nav ul {
	/* float: right; */
	margin-right: 20px;
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: flex-end;
    flex-direction: column;

}

nav ul li{
    display: inline-block;
    margin:0 5px;
    align-self: center;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform:uppercase;
}


nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	text-decoration: ;
	margin: 0 10px;
	color: #fff;
}

a:hover{
    color: rgb(180, 80, 180);
    transition: .5s;
}



/*---introduction---*/

#introduction{
    padding: 100px 0;
}

.row-2-col{
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.intro-left-col{
    flex-basis: 50%;
}

.intro-left-col img{
    width: 70%;

}

.intro-right-col{
    flex-basis: 50%;

}

.intro-text{
    max-width: 100%;
    font-size: 20px;
    word-spacing: 5px;
    line-height: 1.5;
}

/*---Featured Images---*/

#featured{
   width: 100%;
}

.featured-row{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.featured-col{
    flex-basis: 25%;
    box-align: center;
}

.featured-col img{
    width: 250px;
    height: 250px;
    border: 3px solid rgb(38, 38, 38);
}

/*Description*/


#description{
    padding: 100px 0;

}

.intro-right-col img{
    width: 70%;

}

/* https://www.youtube.com/watch?v=oLgtucwjVI*/

.banner{
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(file:///Users/cferg/Desktop/mywebsite-11056/site/assets/images/extra1-churchill-house-by-robin%20boyd-photo-copyright-darren-bradley.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    
}

.content-area {
	width: 100%;
	position: relative;
	background:white;
	height: 1500px;
}

.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	
}

.container{
    display: flex;
    font-family: poppins;
}

}
 body{
    background-color: white;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif
}

h1 .small{
    display: none;
  
}
h1 .big{ 
    font-size: 2rem;
    vertical-align: middle;
    display: inline-block;
    
}


h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}


p{
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    margin: 5rem 5rem;
    color: black; 
    font-family: poppins;
}

img{
    max-width: 100%;
    height: auto;
    border: 3px solid rgb(38, 38, 38);
    
    
}

main{
    width: auto;
    margin: 0 auto;
}

a{
    color: inherit;
    text-decoration: none;
}

.footer-btn{
    padding: 18px 40px;
    background:  rgb(38, 38, 38);
    color: white;
    border: none;
}

.footer-btn:hover{
    background:  rgb(77, 76, 76);;
    
    color:  white;
}



p a{
    color: red;
    
}

#homeLink{
    z-index: 1;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid h2, .grid div{
    grid-column: 1/4;
}

.flex-gallery{
    display: flex;
    flex-wrap: wrap;
}

.flex-gallery > li{
    width: 40%;
    flex-grow: 1;
}

.flex-gallery img{
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(38, 38, 38);
    color: white;
    text-align: center;
  }

@media (max-width: 1400px) { 
    h1 .small{
        display: unset;
      
    }
    h1 .big{ 
        display: none;
    }
    
}


/* [ON SMALL SCREENS] */
@media screen and (max-width: 1200px){
    /* Show Hamburger Icon */
    #hamnav label { 
      display: inline-block; 
      color: white;
      background: #a0262000;
      font-style: normal;
      font-size: 2em;
      padding: 10px;
    line-height: 80px;
    right: 15px;
    position: absolute;
    }

    .menu{
        display: ;
    }
    
        
    }

    @media screen and (max-width: 1000px){
        

    }

    @media (max-width: 750px) { 
     

        .intro-left-col {
            min-width: 100%;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
        }

        .intro-right-col{
            flex-basis: 100%;
            
        }
        
    }
    @media (max-width: 500px)

/* @media (max-width: 800px){
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        text-align: center;
    }
}

@media screen and (max-device-width: 600px) { 
    .column { 
        float: none; 
    } 
}

@media screen and (max-device-width: 480px) {
    .grid{
        display: initial;
    }
    .flex-gallery > li{
        width: 20%;
    }
    

@media screen and (max-device-width: 300px) {
    .flex-gallery{
        flex-direction: column;
    }
 */
